<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"  xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style>
        form {
            margin: 0 auto;
            width:350px;
        }

        input.search-box {
            width: 15%;
            background: #333;
            background-image: url('/img/glyphicons-halflings-white.png');
            background-position: -48px 0;
            padding-left: 30px;
            margin-top: 45px;
            border: 0;
            float: right;
        }
    </style>
</head>
<body>



<nav class="navbar navbar-custom">
    <div class ="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand"><h3>CONNECT UP</h3></a>
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/"><h3>CONNECT UP</h3></a></li>
            <li class="active"><a href="/userlist"><h3>User list</h3></a></li>
            <li><a href="/logout"><h3>Log out</h3></a></li>
        </ul>

    </div>
</nav>


<div class = "section">
    <div class="container">

<h3>SEARCH BY</h3>

        <form th:action = "@{/dosearchbyfirst}" id = "firstform" th:object = "${record}" method = "post">


           <div class="form-group">
                <div class="row">

                    <div class="col-md-4">
                        <label for="exampleInputFirst1">First Name</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="exampleInputFirst1" placeholder="first" th:field="*{first}"/>

                    </div>
                    <div class ="col-md-3">
                        <input type="submit" value = "Submit"/>

                    </div>

                </div>
            </div>




        </form>
        <div  sec:authorize = "hasAuthority('RECRUITER')">
        <form th:action = "@{/dosearchbycompany}" id = "companyform" th:object = "${record}" method = "post">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="exampleInputCompany1">Company</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="exampleInputCompany1" placeholder="company" th:field="*{company}"/>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value = "Submit"/>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <form th:action = "@{/dosearchbylast}" id = "lastform" th:object = "${record}" method = "post">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="exampleInputLast1">Last Name</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="exampleInputLast1" placeholder="last" th:field="*{last}"/>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value = "Submit"/>
                    </div>
                </div>
            </div>

        </form>

<div  sec:authorize = "hasAuthority('RECRUITER')">
        <form th:action = "@{/dosearchbyschool}" id = "schoolform" th:object = "${record}" method = "post" >
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="exampleInputActionSchool1">School</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="exampleInputActionSchool1" placeholder="school" th:field="*{school}"/>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value = "Submit"/>
                    </div>
                </div>
            </div>

        </form>
</div>
        <div sec:authorize = "hasAuthority('RECRUITER')">
        <form th:action = "@{/dosearchbyskill}" id = "skillform" th:object = "${record}" method = "post">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="exampleInputActionSkill1">Skill</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="exampleInputActionSkill1" placeholder="skill" th:field="*{skill}"/>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value = "Submit"/>
                    </div>
                </div>
            </div>

        </form>
        </div>
    </div>
</div>


</body>
</html>