<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" >
<head th:fragment="main::headstuff">

</head>
<body>


<div th:fragment="main::navbar">

</div>




<div class = "container">

        <div th:each = "record: ${recordList}">
             <p th:utext = "${record.first} +' ' +${record.middle}+' '+ ${record.last}">Record </p>
            <p th:utext = "${record.email}"></p>
                <h5>Education</h5>
              <p th:utext = "${record.degree}+' in '+${record.field}+' &lt;br/&gt;'+${record.school}+', '+${record.yearGrad}">Record</p>
            <h5>Experience</h5>
           <p th:utext=" ${record.workTitle} +' &lt;br/&gt; ' +${record.company}+', '+${record.workDur}+'&lt;br/&gt; '+ ${record.duty}">Record</p>
            <h5>Skills</h5>
            <p th:utext="${record.skill}+ ', '+ ${record.proficiency}">Record</p>
        </div>






</div>
</body>

</html>